// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://s3.amazonaws.com/alchemymomentum/public/img/squairy_light/squairy_light.png'),
	            linear-gradient(#75da8f, #77cae9);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
